@page
@model Server.Pages.Admin.MenuItemManager.DeleteModel

@{
	@if (Model.ViewModel == null)
	{
		return;
	}

	var pageTitle =
		Resources.PageTitles.DeleteMenuItem;

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;

	if (System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
	{
		Layout =
			"Layouts/Rtl/_Layout";
	}
	else
	{
		Layout =
			"Layouts/Ltr/_Layout";
	}
}

<section-form>
	<fieldset disabled>
		<section-form-header>
			@(pageTitle)
		</section-form-header>

		<partial name="PartialViews/_DisplayPageMessages" />

		<section-form-field>
			<label asp-for="ViewModel.Id"></label>
			<input asp-for="ViewModel.Id" />
		</section-form-field>

		<section-form-field>
			<label asp-for="ViewModel.Title"></label>
			<input asp-for="ViewModel.Title" />
		</section-form-field>

		<section-form-field>
			<label asp-for="ViewModel.Link"></label>
			<input asp-for="ViewModel.Link" />
		</section-form-field>

		<section-form-field>
			<label asp-for="ViewModel.NumberOfSubMenus"></label>
			<input asp-for="ViewModel.NumberOfSubMenus" />
		</section-form-field>

		<section-form-check>
			<input asp-for="ViewModel.IsActive" />
			<label asp-for="ViewModel.IsActive"></label>
		</section-form-check>

		<section-form-check>
			<input asp-for="ViewModel.IsPublic" />
			<label asp-for="ViewModel.IsPublic"></label>
		</section-form-check>

		<section-form-field>
			<label asp-for="ViewModel.InsertDateTime"></label>
			<input asp-for="ViewModel.InsertDateTime" />
		</section-form-field>
	</fieldset>

	<form method="post">
		<section-form-buttons>
			<input type="hidden" asp-for="ViewModel.Id" />

			<button-delete />
		</section-form-buttons>
	</form>

	<section-form-footer>
		<a asp-page="Index">
			@(Html.DtatGetLinkCaptionForList())
		</a>
		<a asp-page="Details" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForDetails())
		</a>
		<a asp-page="Update" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForUpdate())
		</a>
	</section-form-footer>
</section-form>