@model Server.Pages.Admin.FileManager.IndexModel
@inject Infrastructure.Settings.ApplicationSettings applicationSettings

@if (Model == null || applicationSettings == null)
{
	return;
}

@{
	var selectItemEnabled = false;

	if (applicationSettings.FileManagerSettings.DeleteItemsEnabled)
	{
		selectItemEnabled = true;
	}
}

<div class="row">
	<div class="col table-responsive">
		<table class="@(applicationSettings.FileManagerSettings.TableStyle)">
			<caption>Files</caption>

			<thead class="@(applicationSettings.FileManagerSettings.TableHeaderStyle)">
				<tr>
					<th scope="col">
						#
					</th>
					<th scope="col"></th>
					<th scope="col">
						Name
					</th>
					<th scope="col">
						Type
					</th>
					<th scope="col">
						Length
					</th>
					<th scope="col">
						Attributes
					</th>
					<th scope="col">
						Creation Time
					</th>
					<th scope="col">
						Last Write Time
					</th>
					<th scope="col">
						Last Access Time
					</th>
				</tr>
			</thead>

			<tbody>
				@{
					long totalLength = 0;

					for (var index = 0; index <= Model.Files.Count - 1; index++)
					{
						var item = Model.Files[index];
						var pathName = $"{Model.CurrentPath}{item.Name}";

						totalLength += item.Length;

						<tr>
							<th scope="row">
								@(index + 1)
							</th>
							<td>
								@if (selectItemEnabled)
								{
									<input type="checkbox" id="@(item.Name)" value="@(item.Name)" name="items" class="form-check-input" />
								}
							</td>
							<td>
								<a href="@(pathName)" class="text-decoration-none" target="_blank">
									@(item.Name)
								</a>
							</td>
							<td>
								@(item.Extension.ToLower())
							</td>
							<td>
								@(item.Length.ToString("#,##0"))
							</td>
							<td>
								@(item.Attributes)
							</td>
							<td>
								@(item.CreationTime.ToString(applicationSettings.FileManagerSettings.DisplayDateTimeFormat))
							</td>
							<td>
								@(item.LastWriteTime.ToString(applicationSettings.FileManagerSettings.DisplayDateTimeFormat))
							</td>
							<td>
								@(item.LastAccessTime.ToString(applicationSettings.FileManagerSettings.DisplayDateTimeFormat))
							</td>
						</tr>
					}
				}
			</tbody>

			<tfoot class="@(applicationSettings.FileManagerSettings.TableFooterStyle)">
				<tr>
					<th scope="col" colspan="9">
						Total Length:
						@(totalLength.ToString("#,##0")) Bytes
						|
						@((((double)totalLength) / ((double)1024)).ToString("#,##0")) KBytes
						|
						@((((double)totalLength) / ((double)(1024 * 1024))).ToString("#,##0")) MBytes
					</th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
