@model Server.Pages.Admin.FileManager.IndexModel
@inject Infrastructure.Settings.ApplicationSettings applicationSettings

@{
	if (Model == null || applicationSettings == null)
	{
		return;
	}

	string[] pictureExtensions =
		applicationSettings.FileManagerSettings.PictureExtensions;

	var files =
		Model.Files
		.Where(current => pictureExtensions.Contains(current.Extension.ToLower()))
		.OrderBy(current => current.Extension)
		.ThenBy(current => current.Name)
		.ToList()
		;

	if (files == null || files.Count == 0)
	{
		return;
	}
}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" dir="ltr">

	@for (var index = 0; index <= files.Count - 1; index++)
	{
		var item = files[index];

		var pathName = $"{Model.CurrentPath}{item.Name}";
		var fileName = $"{Model.PhysicalRootPath}{pathName}";

		System.Drawing.Image? image = null;

		try
		{
			image = System.Drawing.Image.FromFile(filename: fileName);
		}
		catch
		{
		}

		if (image == null)
		{
			continue;
		}

		<div class="col">
			<div class="card h-100 shadow-lg">
				<a href="@(pathName)" class="text-decoration-none" target="_blank">
					<img src="@(pathName)" class="card-img-top" alt="@(item.Name)" title="@(item.Name)" />
				</a>

				<div class="card-body">
					<p class="card-text">
						<strong>Length:</strong> @(item.Length.ToString("#,##0"))
						<br />
						<strong>Attributes:</strong> @(item.Attributes)
						<hr />
						<strong>Width:</strong> @(image.Width)
						<br />
						<strong>Height:</strong> @(image.Height)
						<hr />
						<strong>Vertical Resolution:</strong> @(image.VerticalResolution)
						<br />
						<strong>Horizontal Resolution:</strong> @(image.HorizontalResolution)
						<br />
						<strong>Pixel Format:</strong> @(image.PixelFormat)

						@if (image.Tag != null)
						{
							<hr />
							<strong>Tag:</strong> @(image.Tag)
						}
					</p>
				</div>

				<div class="card-footer">
					<h5 class="card-title mt-2">
						<a href="@(pathName)" class="text-decoration-none" target="_blank">
							@(item.Name)
						</a>
					</h5>
				</div>
			</div>
		</div>
	}

</div>
