@page
@model Server.Pages.Admin.ApplicationHandlers.CreateModel

@{
	var pageTitle =
		$"{Resources.ButtonCaptions.Create} {Resources.DataDictionary.ApplicationHandler}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<dtat-full-input asp-for="ViewModel.Name" />

			<dtat-full-input asp-for="ViewModel.Path" />

			<dtat-full-input asp-for="ViewModel.Title" />

			<section-form-field>
				<label asp-for="ViewModel.AccessType"></label>

				<select asp-for="ViewModel.AccessType">
					<option value="@(Domain.Enumerations.AccessType.Special)" selected>
						@(Resources.DataDictionary.Special)
					</option>
					<option value="@(Domain.Enumerations.AccessType.Registered)">
						@(Resources.DataDictionary.Registered)
					</option>
					<option value="@(Domain.Enumerations.AccessType.Public)">
						@(Resources.DataDictionary.Public)
					</option>
				</select>
			</section-form-field>

			<dtat-full-checkbox asp-for="ViewModel.IsActive" />

			<dtat-full-input asp-for="ViewModel.Ordering" />

			<dtat-full-textarea asp-for="ViewModel.Description" />
		</fieldset>

		<section-form-buttons>
			<button-create />
			<button-reset />
		</section-form-buttons>

		<section-form-footer>
			<a asp-page="Index">
				@(Html.DtatGetLinkCaptionForList())
			</a>
		</section-form-footer>
	</section-form>

</form>
