@page
@model Server.Pages.Admin.ApplicationHandlers.DetailsModel

@{
	var pageTitle =
		$"{Resources.ButtonCaptions.Details} {Resources.DataDictionary.ApplicationHandler}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<section-form>
	<fieldset>
		<section-form-header>
			@(pageTitle)
		</section-form-header>

		<partial name="PartialViews/_DisplayPageMessages" />

		<dtat-readonly-input asp-for="ViewModel.Id" />

		<dtat-readonly-input asp-for="ViewModel.Name" />

		<dtat-readonly-input asp-for="ViewModel.Title" />

		<dtat-readonly-input asp-for="ViewModel.Path" />

		<dtat-readonly-input asp-for="ViewModel.AccessTypeTitle" />

		<dtat-readonly-checkbox asp-for="ViewModel.IsActive" />

		<dtat-readonly-input asp-for="ViewModel.Ordering" />

		<dtat-readonly-input asp-for="ViewModel.InsertDateTime" />

		<dtat-readonly-input asp-for="ViewModel.UpdateDateTime" />

		<dtat-readonly-textarea asp-for="ViewModel.Description" />
	</fieldset>

	<section-form-footer>
		<a asp-page="Index">
			@(Html.DtatGetLinkCaptionForList())
		</a>
		<a asp-page="Update" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForUpdate())
		</a>
		<a asp-page="Delete" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForDelete())
		</a>
	</section-form-footer>
</section-form>
