@page
@model Server.Pages.Admin.Users.CreateModel

@{
	var pageTitle =
		$"{Resources.DataDictionary.CreateOf} {Resources.DataDictionary.User}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<dtat-full-input asp-for="ViewModel.EmailAddress" dir="ltr" />

			<dtat-full-checkbox asp-for="ViewModel.IsEmailAddressVerified" />

			<dtat-full-input asp-for="ViewModel.Username" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.Password" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.FirstName" />

			<dtat-full-input asp-for="ViewModel.LastName" />

			<dtat-full-input asp-for="ViewModel.CellPhoneNumber" dir="ltr" />

			<dtat-full-checkbox asp-for="ViewModel.IsCellPhoneNumberVerified" />

			@*
			<section-form-field>
			<label asp-for="ViewModel.RoleId"></label>

			<select asp-for="ViewModel.RoleId"
			asp-items="@(new SelectList(Model.RolesViewModel,
			nameof(ViewModels.Shared.KeyValueViewModel.Id),
			nameof(ViewModels.Shared.KeyValueViewModel.Name)))"
			class="form-select">

			<option value="@(null)" selected>
			@(Resources.DataDictionary.WithoutRole)
			</option>
			</select>

			<span asp-validation-for="ViewModel.RoleId"></span>
			</section-form-field>
			*@

			@*
			<section-form-field>
			<label asp-for="ViewModel.RoleId"></label>

			<select asp-for="ViewModel.RoleId"
			asp-items="@(Model.RolesSelectList)"
			class="form-select">
			</select>

			<span asp-validation-for="ViewModel.RoleId"></span>
			</section-form-field>
			*@

			<dtat-full-select asp-for="ViewModel.RoleId" asp-items="@(Model.RolesSelectList)" />

			<dtat-full-checkbox asp-for="ViewModel.IsVisibleInContactUsPage" />

			<dtat-full-input asp-for="ViewModel.TitleInContactUsPage" />

			<dtat-full-input asp-for="ViewModel.Ordering" />

			<dtat-full-checkbox asp-for="ViewModel.IsActive" />

			<dtat-full-checkbox asp-for="ViewModel.IsProgrammer" />

			<dtat-full-checkbox asp-for="ViewModel.IsProfilePublic" />

			<dtat-full-textarea asp-for="ViewModel.Description" />

			<dtat-full-textarea asp-for="ViewModel.AdminDescription" />
		</fieldset>

		<section-form-buttons>
			<button-create />
			<button-reset />
		</section-form-buttons>

		<section-form-footer>
			<a asp-page="Index">
				@(Html.DtatGetLinkCaptionForList())
			</a>
		</section-form-footer>
	</section-form>

</form>
