@page
@model Server.Pages.Admin.Users.DeleteModel

@{
	var pageTitle =
		$"{Resources.ButtonCaptions.Delete} {Resources.DataDictionary.User}";

	ViewData[Infrastructure.ViewDataKeyNames.PageTitle] = pageTitle;
}

<section-form>
	<fieldset disabled>
		<section-form-header>
			@(pageTitle)
		</section-form-header>

		<partial name="PartialViews/_DisplayPageMessages" />

		<section-form-field>
			<label asp-for="ViewModel.Id"></label>
			<input asp-for="ViewModel.Id" />
		</section-form-field>

		<section-form-field>
			<label asp-for="ViewModel.EmailAddress"></label>
			<input asp-for="ViewModel.EmailAddress" />
		</section-form-field>

		<section-form-field>
			<label asp-for="ViewModel.FullName"></label>
			<input asp-for="ViewModel.FullName" />
		</section-form-field>

		<section-form-field>
			<label asp-for="ViewModel.Ordering"></label>
			<input asp-for="ViewModel.Ordering" />
		</section-form-field>

		<section-form-field>
			<label asp-for="ViewModel.AdminDescription"></label>
			<textarea asp-for="ViewModel.AdminDescription"></textarea>
		</section-form-field>
	</fieldset>

	<form method="post">
		<section-form-buttons>
			<input type="hidden" asp-for="ViewModel.Id" />

			<button-delete />
		</section-form-buttons>
	</form>

	<section-form-footer>
		<a asp-page="Index">
			@(Html.DtatGetLinkCaptionForList())
		</a>
		<a asp-page="Details" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForDetails())
		</a>
		<a asp-page="Update" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForUpdate())
		</a>
	</section-form-footer>
</section-form>
