@page
@model Server.Pages.Admin.Users.DeleteModel

@{
	var pageTitle =
		$"{Resources.DataDictionary.DeleteOf} {Resources.DataDictionary.User}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<section-form>
	<fieldset disabled>
		<section-form-header>
			@(pageTitle)
		</section-form-header>

		<partial name="PartialViews/_DisplayPageMessages" />

		<dtat-readonly-input asp-for="ViewModel.Id" />

		<dtat-readonly-input asp-for="ViewModel.Username" />

		<dtat-readonly-checkbox asp-for="ViewModel.IsActive" />

@*		<section-form-field>
			<label asp-for="ViewModel.Role"></label>
			<input asp-for="ViewModel.Role" />
		</section-form-field>
*@
		<section-form-check>
			<input asp-for="ViewModel.IsRoleActive" />
			<label asp-for="ViewModel.IsRoleActive"></label>
		</section-form-check>

@*		<section-form-field>
			<label asp-for="ViewModel.FullName"></label>
			<input asp-for="ViewModel.FullName" />
		</section-form-field>
*@
		<section-form-check>
			<input asp-for="ViewModel.IsProfilePublic" />
			<label asp-for="ViewModel.IsProfilePublic"></label>
		</section-form-check>

		<dtat-readonly-input asp-for="ViewModel.EmailAddress" />

		<dtat-readonly-checkbox asp-for="ViewModel.IsEmailAddressVerified" />

		<dtat-readonly-input asp-for="ViewModel.CellPhoneNumber" />

		<dtat-readonly-checkbox asp-for="ViewModel.IsCellPhoneNumberVerified" />

		<dtat-readonly-input asp-for="ViewModel.Ordering" />

		<dtat-readonly-textarea asp-for="ViewModel.AdminDescription" />
	</fieldset>

	<form method="post">
		<section-form-buttons>
			<input type="hidden" asp-for="ViewModel.Id" />

			<button-delete />
		</section-form-buttons>
	</form>

	<section-form-footer>
		<a asp-page="Index">
			@(Html.DtatGetLinkCaptionForList())
		</a>
		<a asp-page="Details" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForDetails())
		</a>
		<a asp-page="Update" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForUpdate())
		</a>
	</section-form-footer>
</section-form>
