@page
@model Server.Pages.Admin.Users.DetailsModel

@{
	var pageTitle =
		$"{Resources.ButtonCaptions.Details} {Resources.DataDictionary.User}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<section-form>
	<fieldset disabled>
		<section-form-header>
			@(pageTitle)
		</section-form-header>

		<partial name="PartialViews/_DisplayPageMessages" />

		<dtat-readonly-input asp-for="ViewModel.Id" />

		<dtat-readonly-input asp-for="ViewModel.Username" />

		<dtat-readonly-checkbox asp-for="ViewModel.IsActive" />

		<dtat-readonly-input asp-for="ViewModel.Role" />

		<dtat-readonly-checkbox asp-for="ViewModel.IsRoleActive" />

		<dtat-readonly-input asp-for="ViewModel.FullName" />

		<dtat-readonly-checkbox asp-for="ViewModel.IsProfilePublic" />

		<dtat-readonly-input asp-for="ViewModel.EmailAddress" />

		<dtat-readonly-checkbox asp-for="ViewModel.IsEmailAddressVerified" />

		<dtat-readonly-input asp-for="ViewModel.CellPhoneNumber" />

		<dtat-readonly-checkbox asp-for="ViewModel.IsCellPhoneNumberVerified" />

		<dtat-readonly-input asp-for="ViewModel.Ordering" />

		<dtat-readonly-input asp-for="ViewModel.AdminDescription" />
	</fieldset>

	<section-form-footer>
		<a asp-page="Index">
			@(Html.DtatGetLinkCaptionForList())
		</a>
		<a asp-page="Update" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForUpdate())
		</a>
		<a asp-page="Delete" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForDelete())
		</a>
	</section-form-footer>
</section-form>
