@page
@model Server.Pages.Admin.Users.IndexModel

@{
	var pageTitle =
		$"{Resources.ButtonCaptions.ListOf} {Resources.DataDictionary.Users}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<section-page-header>
	@(pageTitle)
</section-page-header>

<section-page-actions>
	<a asp-page="Create">
		@(Html.DtatGetLinkCaptionForCreate())
	</a>
</section-page-actions>

<partial name="PartialViews/_DisplayPageMessages" />

<section-table>
	<table>
		<caption>
			@(pageTitle)
		</caption>

		<thead>
			<tr>
				<th>
					@(Resources.DataDictionary.RowNumber)
				</th>
				<th>
				</th>
				<th>
					@(Resources.DataDictionary.EmailAddress)
				</th>
				<th>
					@(Resources.DataDictionary.IsEmailAddressVerified)
				</th>
				<th>
					@(Resources.DataDictionary.Role)
				</th>
				<th>
					@(Resources.DataDictionary.RoleIsActive)
				</th>
				<th>
					@(Resources.DataDictionary.Username)
				</th>
				<th>
					@(Resources.DataDictionary.FirstName)
				</th>
				<th>
					@(Resources.DataDictionary.LastName)
				</th>
				<th>
					@(Resources.DataDictionary.IsActive)
				</th>
				<th>
					@(Resources.DataDictionary.IsProgrammer)
				</th>
				<th>
					@(Resources.DataDictionary.CellPhoneNumber)
				</th>
				<th>
					@(Resources.DataDictionary.IsCellPhoneNumberVerified)
				</th>
				<th>
					@(Resources.DataDictionary.LastLoginDateTime)
				</th>
				<th>
					@(Resources.DataDictionary.IsVisibleInContactUsPage)
				</th>
				<th>
					@(Resources.DataDictionary.InsertDateTime)
				</th>
				<th>
					@(Resources.DataDictionary.UpdateDateTime)
				</th>
			</tr>
		</thead>

		<tbody>
			@for (var index = 0; index <= Model.ViewModel.Count - 1; index++)
			{
				var item = Model.ViewModel[index];

				<tr>
					@(Html.DtatDisplayRowNumberWithTd(value: index + 1))

					<table-actions>
						<a asp-page="Details" asp-route-id="@(item.Id)">
							@(Html.DtatGetIconDetails())
						</a>
						<a asp-page="Update" asp-route-id="@(item.Id)">
							@(Html.DtatGetIconUpdate())
						</a>
						<a asp-page="Delete" asp-route-id="@(item.Id)">
							@(Html.DtatGetIconDelete())
						</a>
					</table-actions>

					@(Html.DtatDisplayStringWithTd(value: item.EmailAddress))

					@(Html.DtatDisplayBooleanWithTd(value: item.IsEmailAddressVerified))

					@(Html.DtatDisplayStringWithTd(value: item.RoleName))

					@(Html.DtatDisplayBooleanWithTd(value: item.IsRoleActive))

					@(Html.DtatDisplayStringWithTd(value: item.Username))

					@(Html.DtatDisplayStringWithTd(value: item.FirstName))

					@(Html.DtatDisplayStringWithTd(value: item.LastName))

					@(Html.DtatDisplayBooleanWithTd(value: item.IsActive))

					@(Html.DtatDisplayBooleanWithTd(value: item.IsProgrammer))

					@(Html.DtatDisplayStringWithTd(value: item.CellPhoneNumber))

					@(Html.DtatDisplayBooleanWithTd(value: item.IsCellPhoneNumberVerified))

					@(Html.DtatDisplayDateTimeWithTd(value: item.LastLoginDateTime))

					@(Html.DtatDisplayBooleanWithTd(value: item.IsVisibleInContactUsPage))

					@(Html.DtatDisplayDateTimeWithTd(value: item.InsertDateTime))

					@(Html.DtatDisplayDateTimeWithTd(value: item.UpdateDateTime))
				</tr>
			}
		</tbody>
	</table>
</section-table>
