@page
@model Server.Pages.Admin.Roles.CreateModel

@{
	@if (Model.ViewModel == null)
	{
		return;
	}

	var pageTitle =
		$"{Resources.DataDictionary.Create} {Resources.DataDictionary.Role}";

	ViewData[Infrastructure.ViewDataKeyNames.PageTitle] = pageTitle;
}

<form method="post">

	<div class="@(Infrastructure.CssClasses.FormDivRow)">
		<div class="@(Infrastructure.CssClasses.FormDivCol)">
			<fieldset>
				<legend class="@(Infrastructure.CssClasses.FormLegend)">
					@(pageTitle)
				</legend>

				<hr class="@(Infrastructure.CssClasses.HorizontalRule)" />

				<partial name="PartialViews/_DisplayPageMessages" />

				<div class="@(Infrastructure.CssClasses.FormFieldDiv)">
					<label asp-for="ViewModel.Name" class="form-label"></label>
					<input asp-for="ViewModel.Name" class="form-control" />
					<span asp-validation-for="ViewModel.Name" class="text-danger"></span>
				</div>

				<div class="@(Infrastructure.CssClasses.FormFieldDiv)">
					<label asp-for="ViewModel.Ordering" class="form-label"></label>
					<input asp-for="ViewModel.Ordering" class="form-control" />
					<span asp-validation-for="ViewModel.Ordering" class="text-danger"></span>
				</div>

				<div class="@(Infrastructure.CssClasses.FormFieldDiv)">
					<div class="form-check">
						<input asp-for="ViewModel.IsActive" class="form-check-input" />
						<label asp-for="ViewModel.IsActive" class="form-check-label"></label>
					</div>
				</div>

				<div class="@(Infrastructure.CssClasses.FormFieldDiv)">
					<label asp-for="ViewModel.Description" class="form-label"></label>
					<textarea asp-for="ViewModel.Description" class="form-control"></textarea>
					<span asp-validation-for="ViewModel.Description" class="text-danger"></span>
				</div>
			</fieldset>

			<div class="@(Infrastructure.CssClasses.FormActionsDiv)">
				@(Html.DtatDisplayButtonCreate())
				@(Html.DtatDisplayButtonReset())
			</div>

			<hr class="@(Infrastructure.CssClasses.HorizontalRule)" />

			<div class="@(Infrastructure.CssClasses.FormFooterDiv)">
				<a asp-page="Index" class="@(Infrastructure.CssClasses.FormFooterLink)">
					@(Html.DtatDisplayIconList())
					@(Resources.ButtonCaptions.BackToList)
				</a>
			</div>
		</div>
	</div>

</form>
