@page
@model Server.Pages.Admin.Roles.DeleteModel

@{
	var pageTitle =
		$"{Resources.DataDictionary.DeleteOf} {Resources.DataDictionary.Role}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<section-form>
	<fieldset>
		<section-form-header>
			@(pageTitle)
		</section-form-header>

		<partial name="PartialViews/_DisplayPageMessages" />

		<dtat-readonly-input asp-for="ViewModel.Id" />

		<dtat-readonly-input asp-for="ViewModel.Name" />

		<dtat-readonly-checkbox asp-for="ViewModel.IsActive" />

		<dtat-readonly-input asp-for="ViewModel.Ordering" />

		<dtat-readonly-input asp-for="ViewModel.UserCount" />

		<dtat-readonly-input asp-for="ViewModel.InsertDateTime" />

		<dtat-readonly-input asp-for="ViewModel.UpdateDateTime" />

		<dtat-readonly-textarea asp-for="ViewModel.Description" />
	</fieldset>

	<form method="post">
		<section-form-buttons>
			<input type="hidden" asp-for="ViewModel.Id" />

			<button-delete />
		</section-form-buttons>
	</form>

	<section-form-footer>
		<a asp-page="Index">
			@(Html.DtatGetLinkCaptionForList())
		</a>
		<a asp-page="Details" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForDetails())
		</a>
		<a asp-page="Update" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForUpdate())
		</a>
	</section-form-footer>
</section-form>
