@page
@model Server.Pages.Admin.Roles.IndexModel

@{
	var pageTitle =
		$"{Resources.ButtonCaptions.ListOf} {Resources.DataDictionary.Roles}";

	ViewData[Infrastructure.ViewDataKeyNames.PageTitle] = pageTitle;
}

<section-page-header>
	@(pageTitle)
</section-page-header>

<section-page-actions>
	<a asp-page="Create">
		@(Html.DtatGetLinkCaptionForCreate())
	</a>
</section-page-actions>

<section-table>
	<table>
		<caption>
			@(pageTitle)
		</caption>

		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
				</th>
				<th>
					@(Resources.DataDictionary.Name)
					@*
					@(Html.DisplayNameFor(model => model.ViewModel[0].Name))
					*@
				</th>
				<th>
					@(Resources.DataDictionary.IsActive)
				</th>
				<th>
					@(Resources.DataDictionary.Ordering)
				</th>
				<th>
					@(Resources.DataDictionary.UserCount)
				</th>
				<th>
					@(Resources.DataDictionary.InsertDateTime)
				</th>
				<th>
					@(Resources.DataDictionary.UpdateDateTime)
				</th>
			</tr>
		</thead>

		<tbody>
			@for (int index = 0; index <= Model.ViewModel.Count - 1; index++)
			{
				var item = Model.ViewModel[index];

				<tr>
					@(Html.DtatDisplayRowNumberWithTd(value: index + 1))

					<table-actions>
						<a asp-page="Details" asp-route-id="@(item.Id)">
							@(Html.DtatGetIconDetails())
						</a>
						<a asp-page="Update" asp-route-id="@(item.Id)">
							@(Html.DtatGetIconUpdate())
						</a>
						<a asp-page="Delete" asp-route-id="@(item.Id)">
							@(Html.DtatGetIconDelete())
						</a>
					</table-actions>

					<td>
						@(item.Name)
					</td>

					@(Html.DtatDisplayBooleanWithTd(value: item.IsActive))

					@(Html.DtatDisplayIntegerWithTd(value: item.Ordering))

					@(Html.DtatDisplayIntegerWithTd(value: item.UserCount))

					@(Html.DtatDisplayDateTimeWithTd(value: item.InsertDateTime))

					@(Html.DtatDisplayDateTimeWithTd(value: item.UpdateDateTime))
				</tr>
			}
		</tbody>
	</table>
</section-table>
