@model Server.Pages.Admin.MenuItemManager.IndexModel
@inject Infrastructure.Settings.ApplicationSettings applicationSettings

<div class="container my-0 my-sm-1 my-md-3 my-lg-5">

	<a asp-page="/Admin/MenuItemManager/create" asp-route-returnurl="/Admin/MenuItemManager" class="btn btn-primary btn-sm w-25 my-4" role="button" aria-pressed="true">
		<i class="bi bi bi-menu-button-fill"></i>
		@(string.Format(Resources.ButtonCaptions.CreateNew, Resources.DataDictionary.MenuItem))
	</a>

	<div class="row">
		<div class="col table-responsive">
			<table class="@(applicationSettings.TablesDefaultSettings.TableStyle)">

				<caption>@(string.Format(Resources.DataDictionary.ListOfItems, Resources.DataDictionary.MenuItems))</caption>

				<thead class="@(applicationSettings.TablesDefaultSettings.TableHeaderStyle)">
					<tr>
						<th>#</th>
						<th>@(Resources.DataDictionary.Title)</th>
						<th>@(Resources.DataDictionary.Icon)</th>
						<th>@(Resources.DataDictionary.Active)</th>
						<th>@(Resources.DataDictionary.IsDeletable)</th>
						<th>@(Resources.DataDictionary.Deleted)</th>
						<th>@(Resources.DataDictionary.InsertDateTime)</th>
						<th>@(Resources.DataDictionary.UpdateDateTime)</th>
						<th>@(Resources.DataDictionary.Action)</th>
					</tr>
				</thead>

				<tbody>
					@for (int index = 0; index <= Model.ViewModel.Data.Count - 1; index++)
					{
						var item = Model.ViewModel.Data[index];

						<tr>
							<td>
								@((Model.ViewModel.PageInformation.PageNumber - 1) * Model.ViewModel.PageInformation.PageSize + (index + 1))
							</td>

							<td>
								@(item.Title)
							</td>

							<td class="text-center align-content-x-center">
								<i class="@(item.Icon)"></i>
							</td>

							<td>
								<i class="@(item.IsActive ? applicationSettings.TablesDefaultSettings.YesIcon : applicationSettings.TablesDefaultSettings.NoIcon)"></i>
							</td>

							<td>
								<i class="@(item.IsDeletable ? applicationSettings.TablesDefaultSettings.YesIcon : applicationSettings.TablesDefaultSettings.NoIcon)"></i>
							</td>

							<td>
								<i class="@(item.IsDeleted ? applicationSettings.TablesDefaultSettings.YesIcon : applicationSettings.TablesDefaultSettings.NoIcon)"></i>
							</td>

							<td>
								@(item.InsertDateTime)
							</td>

							@if (item.UpdateDateTime.HasValue)
							{
								<td>
									@(item.UpdateDateTime)
								</td>
							}
							else
							{
								<td>
									<i class="bi bi-dash"></i>
								</td>
							}

							@if (item.IsDeleted == false)
							{
								<td>
									<a asp-page="./Update" asp-route-id="@(item.Id)" class="mx-1 text-danger text-decoration-none">
										<i class="@(applicationSettings.IconSettings.TableIcons.Update)"></i>
									</a>
									|
									@if (item.IsDeletable)
									{
										<a asp-page="./Delete" asp-route-id="@(item.Id)" class="mx-1 text-danger text-decoration-none">
											<i class="@(applicationSettings.IconSettings.TableIcons.Delete)"></i>
										</a>

										<text> | </text>
									}
									@if (item.HasAnySubMenu)
									{
										<a asp-page="./Index" asp-route-id="@(item.Id)" class="mx-1 text-danger text-decoration-none">
											<i class="@(applicationSettings.IconSettings.TableIcons.Children)"></i>
										</a>

										<text> | </text>
									}
									<a asp-page="./Details" asp-route-id="@(item.Id)" class="mx-1 text-danger text-decoration-none">
										<i class="@(applicationSettings.IconSettings.TableIcons.Details)"></i>
									</a>
								</td>
							}
							else
							{
								<td>
									<i class="@(applicationSettings.IconSettings.TableIcons.None)"></i>
								</td>
							}
						</tr>
					}
				</tbody>

				<tfoot class="@(applicationSettings.TablesDefaultSettings.TableFooterStyle)">
					<tr>
						<td colspan="9"
							page-action="./Index"
							page-class="page-link"
							page-classes-enabled="true"
							page-default-class="text-dark text-decoration-none btn"
							page-information-view-model="@(Model.ViewModel.PageInformation)">
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
