@page
@model Server.Pages.Security.RegisterModel
@{
	var pageTitle =
		Resources.PageTitles.Register;

	ViewData["PageTitle"] = pageTitle;

	if (System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
	{
		Layout =
			"Layouts/Rtl/_Security";
	}
	else
	{
		Layout =
			"Layouts/Ltr/_Security";
	}
}

<form method="post">

	<div class="container my-0 my-sm-1 my-md-3 my-lg-5">
		<div class="row">
			<div class="col-12 p-3 col-md-8 offset-md-2 p-md-4   col-lg-6 offset-lg-3 p-lg-5   bg-light border border-2 rounded-3 shadow-lg">
				<fieldset>
					<legend>
						@(pageTitle)
					</legend>

					<hr />

					<partial name="PartialViews/_DisplayPageMessages" />

					<div class="mb-3">
						<label asp-for="ViewModel.Username" class="form-label"></label>

						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-person-fill"></i></div>
							<input asp-for="ViewModel.Username" class="form-control" dir="ltr" />
						</div>

						<span asp-validation-for="ViewModel.Username" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label asp-for="ViewModel.Password" class="form-label"></label>

						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
							<input asp-for="ViewModel.Password" class="form-control" dir="ltr" />
						</div>

						<span asp-validation-for="ViewModel.Password" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label asp-for="ViewModel.ConfirmPassword" class="form-label"></label>

						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
							<input asp-for="ViewModel.ConfirmPassword" class="form-control" dir="ltr" />
						</div>

						<span asp-validation-for="ViewModel.ConfirmPassword" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label asp-for="ViewModel.EmailAddress" class="form-label"></label>

						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-envelope-fill"></i></div>
							<input asp-for="ViewModel.EmailAddress" class="form-control" dir="ltr" />
						</div>

						<span asp-validation-for="ViewModel.EmailAddress" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<button type="submit" class="btn btn-primary">@(Resources.ButtonCaptions.Register)</button>
						<button type="reset" class="btn btn-secondary">@(Resources.ButtonCaptions.Reset)</button>
					</div>
				</fieldset>

				<hr class="mt-4" />

				<div class="text-center">
					<a asp-page="Login">@(Resources.ButtonCaptions.Login)</a>
					|
					<a href="/">@(Resources.ButtonCaptions.Home)</a>
				</div>
			</div>
		</div>
	</div>

</form>
