@page
@model Server.Pages.Admin.MenuItems.DeleteModel

@{
	@if (Model.ViewModel == null)
	{
		return;
	}

	var pageTitle =
		Resources.PageTitles.DeleteMenuItem;

	ViewData["PageTitle"] = pageTitle;

	if (System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
	{
		Layout =
			"Layouts/Rtl/_Layout";
	}
	else
	{
		Layout =
			"Layouts/Ltr/_Layout";
	}
}

<section-form>
	<fieldset disabled>
		<section-form-header>
			@(pageTitle)
		</section-form-header>

		<partial name="PartialViews/_DisplayPageMessages" />

		<dtat-readonly-input asp-for="ViewModel.Id" />

		<dtat-readonly-input asp-for="ViewModel.Title" />

		<dtat-readonly-input asp-for="ViewModel.Link" />

		<dtat-readonly-input asp-for="ViewModel.NumberOfSubMenus" />

		<dtat-readonly-checkbox asp-for="ViewModel.IsActive" />

		<dtat-readonly-checkbox asp-for="ViewModel.IsPublic" />

		<dtat-readonly-input asp-for="ViewModel.InsertDateTime" />
	</fieldset>

	<form method="post">
		<section-form-buttons>
			<input type="hidden" asp-for="ViewModel.Id" />

			<button-delete />
		</section-form-buttons>
	</form>

	<section-form-footer>
		<a asp-page="Index">
			@(Html.DtatGetLinkCaptionForList())
		</a>
		<a asp-page="Details" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForDetails())
		</a>
		<a asp-page="Update" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForUpdate())
		</a>
	</section-form-footer>
</section-form>