@page
@model Server.Pages.Admin.UserManager.DetailsModel
@inject Infrastructure.Settings.ApplicationSettings applicationSettings

@{
	@if (Model.ViewModel == null)
	{
		return;
	}

	var pageTitle =
		Resources.PageTitles.UserDetails;

	ViewData["PageTitle"] = pageTitle;

	if (System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
	{
		Layout =
			"Layouts/Rtl/_Layout";
	}
	else
	{
		Layout =
			"Layouts/Ltr/_Layout";
	}
}

<div class="container my-0 my-sm-1 my-md-3 my-lg-5">
	<div class="row">
		<div class="col-12 p-3 col-md-8 offset-md-2 p-md-4   col-lg-6 offset-lg-3 p-lg-5   bg-light border border-2 rounded-3 shadow-lg">
			<fieldset disabled readonly>
				<legend>
					@(pageTitle)
				</legend>

				<hr />


				@if (string.IsNullOrWhiteSpace(value: Model.ViewModel.Username) == false)
				{
					<div class="mb-3">
						<label asp-for="ViewModel.Username" class="form-label"></label>

						<div class="input-group">
							@if (string.IsNullOrWhiteSpace(value: applicationSettings.IconSettings.UserIcons.Username) == false)
							{
								<div class="input-group-text">
									<i class="@(applicationSettings.IconSettings.UserIcons.Username)"></i>
								</div>
							}

							<input asp-for="ViewModel.Username" class="form-control" dir="ltr" />
						</div>
					</div>
				}

				@if (string.IsNullOrWhiteSpace(value: Model.ViewModel.FullName) == false)
				{
					<div class="mb-3">
						<label asp-for="ViewModel.FullName" class="form-label"></label>

						<div class="input-group">
							@if (string.IsNullOrWhiteSpace(value: applicationSettings.IconSettings.UserIcons.FullName) == false)
							{
								<div class="input-group-text">
									<i class="@(applicationSettings.IconSettings.UserIcons.FullName)"></i>
								</div>
							}

							<input asp-for="ViewModel.FullName" class="form-control" />
						</div>
					</div>
				}

				@if (string.IsNullOrWhiteSpace(value: Model.ViewModel.CellPhoneNumber) == false)
				{
					<div class="mb-3">
						<label asp-for="ViewModel.CellPhoneNumber" class="form-label"></label>

						<div class="input-group">
							@if (string.IsNullOrWhiteSpace(value: applicationSettings.IconSettings.UserIcons.CellPhoneNumber) == false)
							{
								<div class="input-group-text">
									<i class="@(applicationSettings.IconSettings.UserIcons.CellPhoneNumber)"></i>
								</div>
							}

							<input asp-for="ViewModel.CellPhoneNumber" class="form-control" dir="ltr" />
						</div>
					</div>

					@if (Model.ViewModel.IsCellPhoneNumberVerified.HasValue)
					{
						<div class="mb-3">
							<div class="form-check">
								<input asp-for="@(Model.ViewModel.IsCellPhoneNumberVerified.Value)" class="form-check-input" />
								<label asp-for="ViewModel.IsCellPhoneNumberVerified" class="form-check-label"></label>
							</div>
						</div>
					}
				}

				@if (string.IsNullOrWhiteSpace(value: Model.ViewModel.EmailAddress) == false)
				{
					<div class="mb-3">
						<label asp-for="ViewModel.EmailAddress" class="form-label"></label>

						<div class="input-group">
							@if (string.IsNullOrWhiteSpace(value: applicationSettings.IconSettings.UserIcons.EmailAddress) == false)
							{
								<div class="input-group-text">
									<i class="@(applicationSettings.IconSettings.UserIcons.EmailAddress)"></i>
								</div>
							}

							<input asp-for="ViewModel.EmailAddress" class="form-control" dir="ltr" />
						</div>
					</div>

					@if (Model.ViewModel.IsEmailAddressVerified.HasValue)
					{
						<div class="mb-3">
							<div class="form-check">
								<input asp-for="@(Model.ViewModel.IsEmailAddressVerified.Value)" class="form-check-input" />
								<label asp-for="ViewModel.IsEmailAddressVerified" class="form-check-label"></label>
							</div>
						</div>
					}
				}

				<div class="mb-3">
					<label asp-for="ViewModel.Role" class="form-label"></label>

					<div class="input-group">
						@if (string.IsNullOrWhiteSpace(value: applicationSettings.IconSettings.UserIcons.Role) == false)
						{
							<div class="input-group-text">
								<i class="@(applicationSettings.IconSettings.UserIcons.Role)"></i>
							</div>
						}

						@if (Model.ViewModel.Role == null)
						{
							<input class="form-control" dir="ltr" value="@(Resources.DataDictionary.NotSelected)">
						}
						else
						{
							<input asp-for="ViewModel.Role" class="form-control" dir="ltr" />
						}
					</div>
				</div>

				<div class="mb-3">
					<div class="form-check">
						<input asp-for="ViewModel.IsSystemic" class="form-check-input" />
						<label asp-for="ViewModel.IsSystemic" class="form-check-label"></label>
					</div>
				</div>

				<div class="mb-3">
					<div class="form-check">
						<input asp-for="ViewModel.IsProgrammer" class="form-check-input" />
						<label asp-for="ViewModel.IsProgrammer" class="form-check-label"></label>
					</div>
				</div>

				<div class="mb-3">
					<label asp-for="ViewModel.InsertDateTime" class="form-label"></label>
					<div class="input-group">
						@if (string.IsNullOrWhiteSpace(value: applicationSettings.IconSettings.SharedIcons.DateTime) == false)
						{
							<div class="input-group-text">
								<i class="@(applicationSettings.IconSettings.SharedIcons.DateTime)"></i>
							</div>
						}

						<input placeholder="@(Model.ViewModel.InsertDateTime.Value.ToString(format: "yyyy-MM-dd HH:mm:dd"))" class="form-control" dir="ltr" />
					</div>
				</div>

				@if (Model.ViewModel.UpdateDateTime.HasValue)
				{
					<div class="mb-3">
						<label asp-for="ViewModel.UpdateDateTime" class="form-label"></label>
						<div class="input-group">
							@if (string.IsNullOrWhiteSpace(value: applicationSettings.IconSettings.SharedIcons.DateTime) == false)
							{
								<div class="input-group-text">
									<i class="@(applicationSettings.IconSettings.SharedIcons.DateTime)"></i>
								</div>
							}

							<input placeholder="@(Model.ViewModel.UpdateDateTime.Value.ToString(format: "yyyy-MM-dd HH:mm:dd"))" class="form-control" dir="ltr" />
						</div>
					</div>
				}

				<div class="mb-3">
					<div class="form-check">
						<input asp-for="ViewModel.IsActive" class="form-check-input" />
						<label asp-for="ViewModel.IsActive" class="form-check-label"></label>
					</div>
				</div>

				<div class="mb-3">
					<div class="form-check">
						<input asp-for="ViewModel.IsUndeletable" class="form-check-input" />
						<label asp-for="ViewModel.IsUndeletable" class="form-check-label"></label>
					</div>
				</div>
			</fieldset>

			<hr class="mt-4" />

			<div class="text-center">
				<a href="/">@(Resources.ButtonCaptions.Home)</a>
				|
				<a asp-page="Index">
					@(Resources.ButtonCaptions.BackToList)
				</a>
			</div>
		</div>
	</div>
</div>
