@page
@model Server.Pages.Admin.UserManager.DetailsModel
@{
	var pageTitle =
		Resources.PageTitles.UserDetails;

	ViewData["PageTitle"] = pageTitle;

	if (System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
	{
		Layout =
			"Layouts/Rtl/_Layout";
	}
	else
	{
		Layout =
			"Layouts/Ltr/_Layout";
	}
}

<div class="container my-0 my-sm-1 my-md-3 my-lg-5">
	<div class="row">
		<div class="col-12 p-3 col-md-8 offset-md-2 p-md-4   col-lg-6 offset-lg-3 p-lg-5   bg-light border border-2 rounded-3 shadow-lg">
			<fieldset disabled readonly>
				<legend>
					@(pageTitle)
				</legend>

				<hr />

				@if (string.IsNullOrWhiteSpace(value: Model.ViewModel.Username) == false)
				{
					<div class="mb-3">
						<label asp-for="ViewModel.Username" class="form-label"></label>

						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-person-fill"></i></div>
							<input asp-for="ViewModel.Username" class="form-control" dir="ltr" />
						</div>
					</div>
				}

				@if (string.IsNullOrWhiteSpace(value: Model.ViewModel.FirstName) == false)
				{
					<div class="mb-3">
						<label asp-for="ViewModel.FirstName" class="form-label"></label>

						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-person-fill"></i></div>
							<input asp-for="ViewModel.FirstName" class="form-control" />
						</div>
					</div>
				}

				@if (string.IsNullOrWhiteSpace(value: Model.ViewModel.LastName) == false)
				{
					<div class="mb-3">
						<label asp-for="ViewModel.LastName" class="form-label"></label>

						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-person-fill"></i></div>
							<input asp-for="ViewModel.LastName" class="form-control" />
						</div>
					</div>
				}

				@if (string.IsNullOrWhiteSpace(value: Model.ViewModel.CellPhoneNumber) == false)
				{
					<div class="mb-3">
						<label asp-for="ViewModel.CellPhoneNumber" class="form-label"></label>

						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-telephone-fill"></i></div>
							<input asp-for="ViewModel.CellPhoneNumber" class="form-control" dir="ltr" />
						</div>
					</div>

					@if (Model.ViewModel.IsCellPhoneNumberVerified.HasValue)
					{
						<div class="mb-3">
							<div class="form-check">
								<input asp-for="@(Model.ViewModel.IsCellPhoneNumberVerified.Value)" class="form-check-input" />
								<label asp-for="ViewModel.IsCellPhoneNumberVerified" class="form-check-label"></label>
							</div>
						</div>
					}
				}

				@if (string.IsNullOrWhiteSpace(value: Model.ViewModel.EmailAddress) == false)
				{
					<div class="mb-3">
						<label asp-for="ViewModel.EmailAddress" class="form-label"></label>

						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-envelope-fill"></i></div>
							<input asp-for="ViewModel.EmailAddress" class="form-control" dir="ltr" />
						</div>
					</div>

					@if (Model.ViewModel.IsEmailAddressVerified.HasValue)
					{
						<div class="mb-3">
							<div class="form-check">
								<input asp-for="@(Model.ViewModel.IsEmailAddressVerified.Value)" class="form-check-input" />
								<label asp-for="ViewModel.IsEmailAddressVerified" class="form-check-label"></label>
							</div>
						</div>
					}
				}

				@if (string.IsNullOrWhiteSpace(value: Model.ViewModel.Role) == false)
				{

					<div class="mb-3">
						<label asp-for="ViewModel.Role" class="form-label"></label>

						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-person-workspace"></i></div>
							<input asp-for="ViewModel.Role" class="form-control" dir="ltr" />
						</div>
					</div>
				}

				@*
					@if (string.IsNullOrWhiteSpace(value: Model.ViewModel.Description) == false)
					{

					<div class="mb-3">
					<label asp-for="ViewModel.Description" class="form-label"></label>

					<div class="input-group">
					<div class="input-group-text"><i class="bi bi-card-text"></i></div>
					<textarea asp-for="ViewModel.Description" class="form-control"> </textarea>
					</div>
					</div>
					}
				*@

				@if (Model.ViewModel.InsertDateTime.HasValue)
				{
					<div class="mb-3">
						<label asp-for="ViewModel.InsertDateTime" class="form-label"></label>
						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-calendar2-date-fill"></i></div>
							<input placeholder="@(Model.ViewModel.InsertDateTime.Value.ToString(format: "yyyy-MM-dd HH:mm:dd"))" class="form-control" dir="ltr" />
						</div>
					</div>
				}

				@if (Model.ViewModel.UpdateDateTime.HasValue)
				{
					<div class="mb-3">
						<label asp-for="ViewModel.UpdateDateTime" class="form-label"></label>
						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-calendar2-date-fill"></i></div>
							<input placeholder="@(Model.ViewModel.UpdateDateTime.Value.ToString(format: "yyyy-MM-dd HH:mm:dd"))" class="form-control" dir="ltr" />
						</div>
					</div>
				}

				@if (Model.ViewModel.VerifyDateTime.HasValue)
				{
					<div class="mb-3">
						<label asp-for="ViewModel.VerifyDateTime" class="form-label"></label>
						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-calendar2-date-fill"></i></div>
							<input placeholder="@(Model.ViewModel.VerifyDateTime.Value.ToString(format: "yyyy-MM-dd HH:mm:dd"))" class="form-control" dir="ltr" />
						</div>
					</div>
				}

				<div class="mb-3">
					<div class="form-check">
						<input asp-for="ViewModel.IsActive" class="form-check-input" />
						<label asp-for="ViewModel.IsActive" class="form-check-label"></label>
					</div>
				</div>

				<div class="mb-3">
					<div class="form-check">
						<input asp-for="ViewModel.IsVerified" class="form-check-input" />
						<label asp-for="ViewModel.IsVerified" class="form-check-label"></label>
					</div>
				</div>

				<div class="mb-3">
					<div class="form-check">
						<input asp-for="ViewModel.IsDeleted" class="form-check-input" />
						<label asp-for="ViewModel.IsDeleted" class="form-check-label"></label>
					</div>
				</div>
			</fieldset>

			<hr class="mt-4" />

			<div class="text-center">
				<a href="/">@(Resources.ButtonCaptions.Home)</a>
				|
				<a asp-page="Index">
					@(Resources.ButtonCaptions.BackToList)
				</a>
			</div>
		</div>
	</div>
</div>
