@page
@model Server.Pages.Admin.UserManager.IndexModel
@inject Infrastructure.Settings.ApplicationSettings applicationSettings

@{
	@if (Model.ViewModel == null)
	{
		return;
	}

	var pageTitle =
		Resources.PageTitles.UserManagement;

	ViewData["PageTitle"] = pageTitle;

	if (System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
	{
		Layout =
			"Layouts/Rtl/_Layout";
	}
	else
	{
		Layout =
			"Layouts/Ltr/_Layout";
	}
}
<div class="container my-0 my-sm-1 my-md-3 my-lg-5">

	<a asp-page="/Admin/UserManager/create" asp-route-returnurl="/Admin/UserManager" class="btn btn-primary btn-sm w-25 my-4" role="button" aria-pressed="true">
		<i class="bi bi-person-plus-fill"></i>
		@(string.Format(Resources.ButtonCaptions.CreateNew, Resources.DataDictionary.User))
	</a>

	<div class="row">
		<div class="col table-responsive">
			<table class="@(applicationSettings.TablesDefaultSettings.TableStyle)">

				<caption>@(string.Format(Resources.DataDictionary.ListOfItems, Resources.DataDictionary.Users))</caption>

				<thead class="@(applicationSettings.TablesDefaultSettings.TableHeaderStyle)">
					<tr>
						<th>#</th>
						<th>@(Resources.DataDictionary.Username)</th>
						<th>@(Resources.DataDictionary.Active)</th>
						<th>@(Resources.DataDictionary.Verified)</th>
						<th>@(Resources.DataDictionary.Deleted)</th>
						<th>@(Resources.DataDictionary.InsertDateTime)</th>
						<th>@(Resources.DataDictionary.UpdateDateTime)</th>
						<th>@(Resources.DataDictionary.Action)</th>
					</tr>
				</thead>

				<tbody>
					@for (int index = 0; index <= Model.ViewModel.Data.Count - 1; index++)
					{
						var item = Model.ViewModel.Data[index];

						<tr>
							<td>
								@((Model.ViewModel.PageInformation.PageNumber - 1) * Model.ViewModel.PageInformation.PageSize + (index + 1))
							</td>

							<td>
								@(item.Username)
							</td>

							<td>
								<i class="@(item.IsActive ? applicationSettings.TablesDefaultSettings.YesIcon : applicationSettings.TablesDefaultSettings.NoIcon)"></i>
							</td>

							<td>
								<i class="@(item.IsVerified? applicationSettings.TablesDefaultSettings.YesIcon : applicationSettings.TablesDefaultSettings.NoIcon)"></i>
							</td>

							<td>
								<i class="@(item.IsDeleted ? applicationSettings.TablesDefaultSettings.YesIcon : applicationSettings.TablesDefaultSettings.NoIcon)"></i>
							</td>

							<td>
								@(item.InsertDateTime)
							</td>

							@if (item.UpdateDateTime.HasValue)
							{
								<td>
									@(item.UpdateDateTime)
								</td>
							}
							else
							{
								<td>
									<i class="bi bi-dash"></i>
								</td>
							}

							@if (item.IsDeleted == false)
							{
								<td>
									<a asp-page="./Update" asp-route-id="@(item.Id)" class="mx-1 text-danger text-decoration-none">
										<i class="bi bi-pencil-fill"></i>
									</a>
									|

									<a asp-page="./Delete" asp-route-id="@(item.Id)" class="mx-1 text-danger text-decoration-none">
										<i class="bi bi-trash-fill"></i>
									</a>

									|
									<a asp-page="./Details" asp-route-id="@(item.Id)" class="mx-1 text-danger text-decoration-none">
										<i class="bi bi-zoom-in"></i>
									</a>`
								</td>
							}
							else
							{
								<td>
									<i class="bi bi-dash"></i>
								</td>
							}
						</tr>
					}
				</tbody>

				<tfoot class="@(applicationSettings.TablesDefaultSettings.TableFooterStyle)">
					<tr>
						<td colspan="9">
							<ul class="pagination">
								<li class="page-item @(Model.ViewModel.PageInformation.PageNumber <= 1 ? "disabled" : null )">
									<a class="page-link" asp-page="./Index"
									   asp-route-PageNumber=@(Model.ViewModel.PageInformation.PageNumber - 1)
									   asp-route-PageSize="@(Model.ViewModel.PageInformation.PageSize)">
										<i class="@(applicationSettings.TablesDefaultSettings.PreviousPageIcon)"></i>
									</a>
								</li>

								<li class="page-item">
									<a class="page-link" asp-page="./Index" asp-route-PageNumber=@(Model.ViewModel.PageInformation.PageNumber)
									   asp-route-PageSize="@(Model.ViewModel.PageInformation.PageSize)">@(Model.ViewModel.PageInformation.PageNumber)</a>
								</li>

								<li class="page-item @(Model.ViewModel.PageInformation.PageNumber >= Model.ViewModel.PageInformation.PageCount ? "disabled" : null )">
									<a class="page-link" asp-page="./Index" asp-route-PageNumber=@(Model.ViewModel.PageInformation.PageNumber + 1)
									   asp-route-PageSize="@(Model.ViewModel.PageInformation.PageSize)"><i class="@(applicationSettings.TablesDefaultSettings.NextPageIcon)"></i></a>
								</li>
							</ul>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
